<h1>PRODUCTOS</h1>
<div class="flex justify-content-end w-full align-items-center gap-2">
    <i class="pi pi-caret-right"></i>
    <input type="text" pInputText formControlName="text" placeholder="Buscar producto" class="w-auto" />
  </div>
<br>
<div class="card">
    <p-carousel  
        [value]="productos" 
        [numVisible]="3" 
        [numScroll]="3" 
        [circular]="false" 
        [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3 flex flex-column">
            <div class="mb-3">
                <div class="relative mx-auto">
                    <!-- Corregido: Usar directamente product.image -->
                    <img 
                        [src]="product.image" 
                        [alt]="product.name" 
                        class="w-full border-round" />
                </div>
            </div>
            <div class="mb-3 font-medium text-center">
                {{ product.name }}
            </div>
            <div class="flex justify-content-between align-items-center">
                <div class="mt-0 font-semibold text-xl">
                    {{ '$' + product.price }}
                </div>
                <span class="flex">
                    <p-button icon="pi pi-heart" [rounded]="true" [text]="true" [raised]="true" routerLink="/galeria" [outlined]="true"></p-button>
                    <p-button icon="pi pi-shopping-cart" styleClass="ml-2"></p-button>
                </span>
            </div>
        </div>
    </ng-template>
</p-carousel>
