<h1>HOLA!</h1>
        <h2>BIENVENIDO A PANADERÍA MENA</h2>

        <div class="grid">
            <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4">
                <div class="box"></div>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4">
                <div class="box"></div>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4">
                <div class="box"></div>
            </div>
        </div>

        <div class="description">
            <h3>¿Quiénes somos?</h3>
            <p>
                En Panadería Mena, nos enorgullece ofrecer a nuestros clientes una experiencia única y deliciosa en cada bocado. Además de nuestra amplia gama de panes frescos y pasteles artesanales, también contamos con una variedad de opciones dulces y saladas para satisfacer todos los gustos. Desde las galletas más crujientes hasta los pasteles más suaves y esponjosos, cada producto está hecho con ingredientes frescos y naturales, garantizando el sabor auténtico que solo una panadería tradicional puede ofrecer.

                No solo nos dedicamos a la venta de productos, sino que también ofrecemos un ambiente cálido y acogedor donde puedes disfrutar de tus compras, ya sea acompañando tu pan con una deliciosa bebida o llevándote todo lo que necesitas para compartir con tus seres queridos en casa.
                
                En Panadería Mena, nos esforzamos por ser parte de tus momentos más especiales, brindándote productos que no solo alimentan el cuerpo, sino también el alma. Nuestro compromiso con la calidad y el servicio nos ha permitido ganarnos la confianza y cariño de nuestros clientes, quienes siempre encuentran en nosotros el sabor y la frescura que buscan.
                
                Te invitamos a visitar nuestra panadería y descubrir todos los productos que tenemos preparados con amor para ti. ¡Siempre es un buen momento para disfrutar de algo delicioso de Panadería Mena!
            </p>
            <p>
                Nuestro objetivo es ofrecer un servicio de calidad y productos que hagan feliz a toda la familia. Ya sea para un desayuno, una merienda o para cualquier ocasión especial, tenemos lo que necesitas. ¡Ven y disfruta de lo mejor de la panadería!
            </p>
        </div>
        <br>
        <br>
        <br>
    
        <div class="flex justify-content-center">
          <p-button label="Vamos" [rounded]="true" routerLink="/card" />
    
      </div>
      


